body{
  background-color: #262626;
  min-height: 100vh;
}
.contenedor{
  width: 400px;
  height: 400px;
  text-align: center;
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-left: auto;

  margin-right: auto;
}

.card{
  display: flex;
  margin: 15px;
  min-width: 260px;
  min-height: 280px;
  max-width: 260px;
  max-height: 280px;
}
img{
  width: 240px;
  height: 180px;
  padding-top: 5px;
}

h1{
  color: #fff;
}
